
#DATOS DE CONEXION PARA BD
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DB=bookstore-inventory

#CONEXION PARA PRISMA
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}"

#PUERTO DE LA APLICACION
PORT=3000

#URL PARA EL SERVICIO DE CAMBIO DE DIVISAS
API_EXCHANGE_URL="https://v6.exchangerate-api.com/v6/96e35c4fd6e071681fa471d11/latest/USD"